# SCENARIO
{{ nl_description }}

# INSTRUCTIONS
{{ instructions }}

# CURRENT STATE OF ATOMIC BLOCKS
Here are the current atomic blocks that are naive and without any candidate methods or notes. Your goal is to use tools to modify them to reflect methods available in the application, and so that the instructions are broken down into localized methods callable in the application.
{{ atomic_blocks }}

# YOUR TURN
Proceed. If a tool is needed, call it. 
If finished, select the "finalize_atomic_blocks" tool, which will return the current state of the atomic blocks after any modifications.