# SCENARIO
{{ nl_description }}

# INSTRUCTIONS
{{ instructions }}

# CURRENT STATE OF ATOMIC BLOCKS
{{ atomic_blocks }}

# YOUR TURN
Proceed. If a tool is needed, call it. 
If finished, select the "finalize_atomic_blocks" tool, which will return the current state of the atomic blocks after any modifications.

Take TWO TURNS ONLY before calling "modify_atomic_blocks" with changes.
