Your goal is to break a natural language description into AtomicBlocks with relevant application methods or library methods, if possible.

# INSTRUCTIONS
{{ instructions }}

# CURRENT STATE OF ATOMIC BLOCKS
{{ atomic_blocks }}

# TOOLS
{{ tool_descriptions }}

# REQUIRED JSON OUTPUT TEMPLATES
When taking an action:
```json
{
    "thought": [brief self-reflection (why this step?)],
    "tool": [tool name],
    "tool_input": [action arguments in a {"argument name": argument_value} format]
}
```
When finished:
```json
{
    "final_answer": [AtomicBlock objects]
}
```

# ATOMICBLOCK SCHEMA
{
    "order": int // 0, 1, 2, ... according to the block's sequence in the input text
    "subjects": List[str] // the subjects; may be empty
    "verbs" List[str] // exactly one canonical verb
    "past_participles": [str],
    "direct_objs": List[str] // the direct objects; may be empty
    "indirect_objs": List[str] // the indirect objects; may be empty
    "prep_phrases": List[{"preposition": str, "object": str}] // the preposition phrases; may be empty
    "polarity": Literal["positive", "negative"] // considers negation words, default to "positive"
    "conditions": List[str] // conditional statements; text associated with if/when/unless, may be empty
    "simplified": str // a concise stand-alone clause
    "candidate_methods": List[{"qualified_class_name": str, "method_signature": str}] // a list of the candidate methods, formatted in a dictionary; only include at most the top three
    "notes": str // extraneous details; e.g., if an AtomicBlock is likely a library call
}

# REMEMBER
- Use the tool output in the "TOOL HISTORY" to inform decision-making.
- Do not output the same tool call you previously executed.
- Verify relevant methods by using the tools to analyze its code and details.
- Use class details if no relevant methods are retrieved, to see if it inherits from a library.
- Only return the JSON output, with **NO OTHER TEXT**. You **MUST** use the JSON format and only output the dictionary object.